// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
//@import "bootstrap.min";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
body.active_admin {
  .status_tag.blue { background: #A52A2A; }
@import "select2";
  .sgt_div {
    //background-color: white;
    bottom: auto;
    display: block;
    position: absolute;
    border: 1px solid #c9d0d6;
    border-radius: 3px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.95em;
    outline: medium none;
    padding: 8px 10px 7px;
    width: calc(80% - 22px);
    //left: 330px;
    //top: 276.317px;
    //width: 363px;
  }
  #sgt_div_id > li {
    list-style: outside none none;
    margin-left: 10px;
  }
}

//#titlebar_left {
//  background-color: red !important;
//}